body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font: 100 72px 'Lato', sans-serif;
	text-align: right;
	color: #666756;
	margin: 0;
}

h2 {
	font: 400 36px 'Lato', sans-serif;
	text-align: right;
	color: #666756;
	margin: 0 0 8px;
}

h3 {
	font: 400 42px 'Lato', sans-serif;
	color: #bcbbbb;
	padding: 0 0 0 5px;
	margin: 0.5% 0;
	text-align: center;
}

h4 {
	font: 400 32px 'Lato', sans-serif;
	text-align: center;
	color: #666756;
	margin: 10px 0 5px 0;
	min-width: 33%;
}

p {
	font: 400 24px 'Lato', sans-serif;
	text-align: center;
	color: #666756;
	margin: 5px 0 0 0;
}

a {
	text-decoration: none;
	min-width: 33%;
}

img, embed, object, video {
	max-width: 100%;
	width: 100%;
	height:100%;
}

img:last-of-type {
	margin-right: 0;
}

nav a, button {
	min-width: 48px;
	min-height: 48px;
}

.line{
	height: 4px;
	background-color: #bcbbbb;
	margin: 5px 0 8px 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.no-margin-top{
	margin-top: 0;
}

.logo{
	padding: 0;
	width: 15vmin;
	max-width: 135px;
}

.splash {
	max-height: 345px;
	min-width: 100%;
}

.image-appify {
	height: 200px;
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 0;
}

.image-sunflower {
	height: 200px;
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 1;
}

.image-bokeh {
	height: 200px;
	width: calc((100% - 20px)/3);
	Order: 2;
}

.name-appify {
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 3;
}

.name-sunflower {
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 4;
}

.name-bokeh {
	width: calc((100% - 20px)/3);
	Order: 5;
}

.link-appify {
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 6;
}

.link-sunflower {
	margin-right: 10px;
	width: calc((100% - 20px)/3);
	Order: 7;
}

.link-bokeh {
	width: calc((100% - 20px)/3);
	Order: 8;
}

.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1250px;
	margin: 0 auto;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}